Oceanography python bootcamp, Winter 2025
# Week 2 notebook

## Python list

In [ ]:
# creating a list manually, and print it out
# NOTE that the list is heterogenous

a_list = [15, "where", "am", 1]
print(a_list)

In [ ]:
# python list can be nested
b_list = ["this", "is", "a", ["nested", "python", "list"]]
print(b_list)

In [ ]:
# join the content of two lists
[15, 20] + ["this", "that"]

In [ ]:
# repeat the content of one list multiple times
# NOTE that this is DIFFERENT from the numpy array behavior
[15, 20] * 3

In [ ]:
# extract element in the list
# NOTE that index starts from 0

a1 = a_list[1]
print(a1)

In [ ]:
# You can mutate the values of a list

a_list[1] = "which"
print(a_list)

----

_**Exploration #1**_: Explore the values/contents of `a_list`, `b_list`, and `c` in the code below. Explain the result using the conceptual picture

In [ ]:
a_list = [1, 2, 3, 4]
b_list = a_list
c = a_list[1]
a_list[1] = -1

print(a_list, "\n", b_list, "\n", c)

----

In [ ]:
# slice a python list to create a new list
# Note that the end index is EXCLUSIVE

a_list = [1, 2, 3, 4]
b_list = a_list[1:3]

print(b_list)

In [ ]:
# start index can be skipped if it is 0
# end index can be skipped if it is the length of list

a_list = [1, 2, 3, 4]
b_list = a_list[::2]
c_list = a_list[2::]

print(b_list, "\n", c_list)

In [ ]:
# start and end index can also counts from the end (using negative values)

a_list = [1, 2, 3, 4]
b_list = a_list[-3:-1]

print(b_list)

In [ ]:
# more complicated slicing with a "step" specification
a_list = [1, 2, 3, 4]
b_list = a_list[1::2]

print(b_list)

In [ ]:
# list can be nested...
a_list = [-1, 0, [1, 2, 3]]
a_list[2]

In [ ]:
# ... and indexing can be nested
a_list[2][1]

----

In [ ]:
# appending an existing list
a_list = [1, 2, 3]
a_list.append(-1)

print(a_list)

In [ ]:
# NOTE: outer container is not needed for append
# Otherwise it gives you a nested list
a_list = [1, 2, 3]
a_list.append([-1])

print(a_list)

In [ ]:
# extending an existing list
a_list = [1, 2, 3]
a_list.extend([9, 16])

print(a_list)

In [ ]:
# poping an existing list
a_list = [1, 2, 3]
c = a_list.pop()

print(a_list)
print(c)

In [ ]:
# count the number of elements in a list
x = [1, 2, 3, 4, 5]
len(x)

In [ ]:
# Note the behavior of len on nested list
x = [1, [2, 3], [4, 5]]
len(x)

In [ ]:
# sorting a list IN-PLACE
a_list = [0, -1, 1, -2, 2]
a_list.sort()

print(a_list)

In [ ]:
# sorting a list and output result
a_list = [0, -1, 1, -2, 2]
b_list = sorted(a_list)

print(a_list)
print(b_list)

In [ ]:
# mutating a list via slicing

a_list = [1, 2, 3, 4]
a_list[1::2] = [-5,-10]

a_list

In [ ]:
# search for an element

a_list = [1, 3, 5, 7, 9]
a_list.index(5)

In [ ]:
# remove an element

a_list = [1, 3, 5, 7, 9]
a_list.remove(5)

a_list

### Aside: string indexing and slicing

In [ ]:
# example of string slicing

sentence = "This is a good day"
sentence[10:14]

### Aside: string join and split

In [ ]:
# an example of splitting a single string into list of strings

word_list = "This is bad".split(" ")
word_list

In [ ]:
# joining back
"_".join(word_list)

## For loops

In [ ]:
# a basic for loop

a_list = [0, 1, 2, 3]
for x in a_list:
    print(x)

In [ ]:
# the sample result achieved using range
for x in range(4):
    print(x)

In [ ]:
# the sample result, with full syntax of range
for x in range(0, 4, 1):
    print(x)

In [ ]:
# convert a range object to the corresponding list
a_list = list(range(4))
print(a_list)

In [ ]:
# index and element at the same time, using enumerate()

vowels = ["a", "e", "i", "o", "u"]

for i, x in enumerate(vowels):
	print(f"index {i} has value {x}")

----

_**Code writing #3.**_ Create a for loop that print out all positive even number smaller than 30, one number each line

### if-elif-else

In [ ]:
# example of a simple branching statmemt

x = -5

if x > 0:
    print("x is positive")
else:
    print("x is 0 or negative")

In [ ]:
# an example involving elif

x = -5

if x == 0:
    print("x is zero")
elif x > 0:
    print("x is positive")
else:
    print("x is negative")

In [ ]:
# check the boolean value of a few objects

a = bool(3.14)
b = bool(2)
c = bool(0)
print(a, b, c)

a = bool(None)
b = bool(True)
c = bool(False)
print(a, b, c)

a = bool([1, 2])
b = bool([])
print(a, b)

In [ ]:
# check containment
a_list = [1, 2, 3]
2 in a_list

In [ ]:
0 in a_list

In [ ]:
0 not in a_list

----

_**Debugging #5.**_ You want to issue a warning if T < 5 (°C) and an alert if T < 0. What is wrong with the code below? Fix it.

In [ ]:
T = -2

if T < 5:
	print("Warning: T < 5")
elif T < 0:
	print("Alert: T < 0")
else:
	print("All is well")

## Combining for loop with if-elif-else

In [ ]:
# Remove vowels from the words of a sentence

sentence = "This is an apple"
out = ""

for a in sentence:
    if a not in "aeiou":
        out = out + a

print(out)

In [ ]:
# using break

for x in range(1, 11):
    if x % 3 == 0:
        break
    print(x)

In [ ]:
# the corresponding result with break replaced by continue

for x in range(1, 11):
    if x % 3 == 0:
        continue
    print(x)

----

_**Debugging 6.**_ You want to to print every word (string) from the nested list. Figure out why it doesn’t work and fix it.

In [ ]:
# Given data (DO NOT CHANGE!)
word_list = [["Where", "am", "I"], ["This", "is", "good"], "lol"]

In [ ]:
for part in word_list:
    for word in part:
        print(word)

## Additional collection types

### Dictionary type

In [ ]:
# create dictionary by hand
a_dict = {"a": 2, "b": [-1, 1]}

In [ ]:
# insert (or update if not exists) a new entry
a_dict["c"] = 25
print(a_dict)

In [ ]:
# delete a pair from the dictionary
x = a_dict.pop("a")
print(a_dict)
print(x)

In [ ]:
# iterating both keys and values
for key, val in a_dict.items():
    print(f"key {key} has value {val}")

In [ ]:
# check if a key is in the dictionary
if "a" in a_dict:
    print("a is in a_dict")
else:
    print("a is not in a_dict")

### Set type

In [ ]:
# create a set by hand
a_set = {"a", "e", "i", "o", "u"}

In [ ]:
# add a new entry (no operation if entry already exists)
a_set.add("y")
a_set.add("e")
print(a_set)

In [ ]:
# check if element is in a set:
"z" in a_set

### Tuple type

In [ ]:
# Creating a record, with id and name
record = (5124, "Wingho")

In [ ]:
# extract the id
record[0]

### Exercise

_**Code writing #7.**_ You are given two sets of records (defined as `old_records` and `new_records` as shown below). In each record, the first element is a unique ID, and the second element is a measured value between 0 and 1. You are told that the set of IDs in the two sets of records are identical, but in each set of records the order of IDs are different.

You want to find the list of ID for which the old measurement differs from the new measurement. Write a short block of code that achieve the above task. The code should produce a list name `diff_IDs` that contains all the ID's for which

In [ ]:
new_records = [
    (2654, 0.04), (2632, 0.86), (3435, 0.02), (2495, 0.2),
    (7663, 0.72), (4261, 0.61), (2553, 0.61), (7568, 0.22),
    (4072, 0.12), (6711, 0.05), (5158, 0.43), (1831, 0.03),
    (4244, 0.86), (7662, 0.69), (7422, 0.09), (1960, 0.76),
    (7181, 0.84), (1581, 0.15), (9079, 0.71), (2233, 0.54)
]

In [ ]:
old_records = [
    (1960, 0.76), (4244, 0.86), (2495, 0.56), (7181, 0.79),
    (7663, 0.72), (7568, 0.78), (4261, 0.61), (1831, 0.03),
    (9079, 0.71), (4072, 0.91), (3435, 0.02), (2654, 0.64),
    (7662, 0.69), (2632, 0.86), (5158, 0.43), (2233, 0.54),
    (7422, 0.09), (6711, 0.17), (1581, 0.15), (2553, 0.61)
]

## Writing functions

In [ ]:
# simple function with two arguments

def multplus(x, y):
    return x * y + y

# call the function
multplus(3, 5)

In [ ]:
# possible code before turning into a function

a_list = [2, 1, 0, -1, -2]
for x in a_list:
    if x < 0:
        break
print(x)

In [ ]:
# a function with early return

def first_negative(iterable):
    for x in iterable:
        if x < 0:
            return x # early return
            
    return None # no negative values

a = first_negative([2, 1, 0, -1, -2])

b = first_negative([1, 2, 3, 4, 5])

print(a, b)

In [ ]:
# a function with no explicit return, only side effects

def print_positive(iterable):
    for x in iterable:
        if x > 0:
            print(x)

print_positive([1, -1, 2, -2])

----

_**Code writing #8.**_ The following code produces the first 10 fibonacci number in the list out. Base on this code, write a function that takes an argument n and returns the first n fibonacci number in a list

In [ ]:
out = [1, 1]
for i in range(2, 10):
	out.append(out[i-2] + out[i-1])

In [ ]:
# Your function definition here

----

In [ ]:
# global variable as implicit interface

a = 1
def add_a(x):
    return x + a

print(add_a(5))

a = -2

print(add_a(5))

In [ ]:
# positional versus keyword arguments

def multplus(x, y):
    return x * y + y

# call using positional argument
a = multplus(3, 5)
print(a)

# call using keyword argument
# Note that the keywords can be "out of order"
a = multplus(y=3, x=5)
print(a)

In [ ]:
# keyword only and position only arguments

def some_func(x, /, y, *, z):
    return x + y + z

a = some_func(1, 2, z=3) # OK
print(a)

a = some_func(1, z=3, y=2) # also OK
print(a)

some_func(1, 2, 3) # bad

In [ ]:
# Trap: empty collection default

def add_to_list(a, base=[]):
	base.append(a)
	print(base)
	return base
    
add_to_list(1)
add_to_list(2);

In [ ]:
# Fixing the trap: use None

def add_to_list(a, base=None):

    if base is None:
        base = []

    base.append(a)
    print(base)
    return base
    
add_to_list(1)
add_to_list(2);

In [ ]:
# Example of sorted with key argument supplied
records = [
    (2654, 0.04), (2632, 0.86), (3435, 0.02), (2495, 0.2)
]

def rank_value(x):
    return x[1]

sorted(records, key=rank_value)